:root {
  --primary-color: #4caf50;
  --secondary-color: #ff9800;
}

.container {
  display: flex;
  justify-content: center;
}

.card {
  width: 200px;
  height: 100px;
  background-color: var(--primary-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px;
}
.card2 {
  width: 200px;
  height: 100px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px;
}
