* {
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #96f7e4;
  text-align: center;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #1e2939;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #009689;
}

.biodata-section {
  padding: 10px;
  text-align: left;
  color: #193cb8;
}

.biodata-item {
  margin-bottom: 10px;
}

.biodata-label {
  font-weight: bold;
  width: 100px;
  color: #333;
}

.biodata-value {
  color: #555;
}

.klik-button {
  background-color: #0057af;
  color: white;
  border: none;
  border-radius: 10px;
  width: 100%;
  padding: 10px 30px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.klik-button:hover {
  background-color: #05407c;
}
